* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  position: relative;
  overflow: auto;
}

.left .code,
.code pre,
.code pre code {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #0c0c0c;
}
.code pre{
  height: 100%;
}

main .left .review {
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  position: fixed;
  margin-right: 52%;
  margin-bottom: 25px;
}


main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;

  main .left,
  main .right {
    flex-basis: 100%;
  }
  }
  main .left .review {
    margin-right: 5%; 
    margin-bottom: 15px; 
  }

  main .right {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  main .right {
    font-size: 1rem;
  }

  main .left .review {
    padding: 0.5rem 1rem;
  }
}